body {
  margin: 0;
  background: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: transparent;
}

.logo {
  height: 50px;
}

.nav-buttons button {
  margin-left: 15px;
}

.landing-wrapper {
  min-height: 100vh;
  width: 100%;

  background-image: url("../assets/landing/backgroundimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .landing-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
} */

/* .landing-wrapper * {
  position: relative;
  z-index: 1;
} */

.hero {
 min-height: calc(100vh - 120px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-family: 'cooper black';
  font-size: 125px;
  color: white;
  margin: 0;
  line-height: 1;
}

.hero h4 {
  font-family: 'Brush Script MT', cursive;
  font-size: 40px;
  color: #f2a679;
  margin: 0;
  line-height: 1;
}

.hero p {
  font-size: 20px;
  margin: 20px auto;
  max-width: 700px;
}

.hero-buttons {
  margin-top: 40px;
}

.btn-primary {
  background: #ffffff;
  border: none;
  padding: 14px 30px;
  color: black;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 14px 30px;
  border-radius: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.images {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 80px;
}

.images img {
  width: 260px;
  border-radius: 20px;
  transition: 0.4s;
}

.images img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  opacity: 0.7;
}
